
.hidden{
    display: none
}

.active{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1)
}

.modal__content{
    width: 700px;
    background-color:  #daf5cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkslategray;
    border-radius: 7px;
    border: 1px solid  #daf5cb;
    position: relative;
    font-size: 16px;
}

.modal__text{
    padding: 40px;
    font-size: 18px;
}

.modal__action_btn{
    background-color: #c9e3ba;
    padding: 15px;
    width: 150px;
    color: darkslategray;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid #c9e3ba;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 20px;
}



